body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

main {
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
  padding: 20px;
  display: none; /* Inicialmente, todos os itens do carrossel estão ocultos */
}

.carousel-item[aria-hidden="false"] {
  display: block;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}